/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #CDE3D2;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
.bodydiv {
  margin-left: 10rem;
  margin-top: 2rem;
  font-family: 'Bahnschrift', serif;
  line-height: 2;
  background-color: #CDE3D2;
  /*padding: 10px;*/
  padding-bottom: 20px;
  border-style: double;
  border-color: #0B5563;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.button1 {
    background-color: #f7a197;
    font-size: 21px;
    padding: 10px 106px;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: 'Bahnschrift', sans-serif;
}

.button1:hover {
    color: #f88a77;
    background-color: white;
    border-color: #f88a77;
    font-family: 'Bahnschrift', sans-serif;
}

.columnheader {
  background-color: #0B5563;
  color: white;
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Bahnschrift Light', sans-serif;
}

.columnsubheader {
    background-color: #f7a197;
    font-size: 20px;
    padding: 10px 95px;
    color: white;
    border-style: solid;
    border-color: white;
    font-family: 'Georgia', serif;
}

.Normal {
    background: rgb(225, 230, 233);
    border-bottom-style:  ridge;
}

.Fabulous {
    background: rgb(247, 213, 250);
    border-bottom-style:  ridge;
}

.Happy {
    background: rgb(255, 244, 207);
    border-bottom-style:  ridge;
}

.Upset {
    background: rgb(204, 221, 253);
    border-bottom-style:  ridge;
}

.Frustrated {
    background: rgb(250, 211, 195);
    border-bottom-style:  ridge;
}

.Excited {
    background: rgb(226, 253, 216);
    border-bottom-style:  ridge;
}

.Stressed {
    background: rgb(253, 216, 216);
    border-bottom-style:  ridge;
}

.Exhausted {
    background: rgb(216, 211, 226);
    border-bottom-style:  ridge;
}

.navbar {
  background-color: #0B5563;
  display: flex;
  justify-content: space-between;
  margin: -10px;
  margin-bottom: 0px;
  min-height: 80px;
  position: fixed;
  top:0;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.nav-item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Bahnschrift Light', sans-serif;
  font-size: 18px;
}

.centeredTitle {
    text-align: center;
}

.pink {
    background-color:#f88a77;
    color: white;
}